header {
  background-color: #243a5e;
  display: flex;
}
header a {
  color: white;
  margin: 10px;
}
.cart-icon {
  height: 30px;
  width: 30px;
}
footer {
  position: relative;
  bottom: 0%;
  background-color: #243a5e;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.signin {
  position: absolute;
  right: 0;
}
.user-icon {
  width: 30px;
  height: 30px;
}
.signin-1 {
  text-decoration: none;
}
#dropdown {
  display: inline-block;
  position: absolute;
  right: 0px;
}
.dropdown-content {
  position: relative;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #243a5e;
  margin-top: 0.4rem;
  border-radius: 5px;
}
#dropdown:hover .dropdown-content{
  display: block;
}